body { 
    color: linear-gradient(to right, rgb(146, 39, 62) 50%, rgb(90, 24, 38)50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

h1{
    text-align:center;
    color: rgb(255, 231, 231);
}

ul{
    color: white;
}
a{
    color: inherit 
}