body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    color:white;
}

.container{
    text-align:center;
    margin-top:80px;
}

img {
    float:left;
    display: block;
    margin-right: auto;
    margin-left: 35px;
}

ul{
      list-style:none;
}

li{
    text-align: left;
    margin: left 20px;
    margin-right: auto;
    font-size:20px;
}

    

